:root{
  --primary-color: #3A59D1;  /* Primary color */
  --secondary-color: #3D90D7;  /* Secondary color */
  --tertiary-color: #B5FCCD;  /* Tertiary color */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* ===================login css starts here==================== */
/* Style for the login form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: var(--primary-color);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

.submit-btn {
  padding: 10px;
  border: none;
  background-color: hsl(228, 62%, 52%);  /* Primary color */
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #3D90D7;  /* Secondary color */
}

.login-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.login-page img{
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border: var(--tertiary-color) solid 2px;
  border-radius: 100%;
  box-shadow: 0 0 10px var(--tertiary-color);
}

.animation-container{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;  /* Make sure it doesn't interfere with other content */
  z-index: -1;  /* Send it to the background */
  animation: randomMovement 30s infinite;  /* Apply the animation */
}

/* Random Movement Animation */
@keyframes randomMovement {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10px, 200px);
  }
  20% {
    transform: translate(10px, 350px);
  }
  30% {
    transform: translate(300px, 350px);
  }
  50% {
    transform: translate(600px, 350px);
  }
  60% {
    transform: translate(900px, 350px);
  }
  70% {
    transform: translate(900px, 200px);
  }
  80% {
    transform: translate(900px, 100px);
  }
  90% {
    transform: translate(900px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}
/* ===================login css ends here==================== */

/* ===================sidebar css starts here==================== */
.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo{
  display: block;
  width: 200px;
  height: auto;
}

.navbar-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.navbar-list li{
  display: block;
  padding: 20px;
}

.navbar-list li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* Dropdown Menu Styles */
.navbar-list .dropdown {
  position: relative;
}

/* Style the dropdown link */
.navbar-list .dropdown-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* Initially hide the dropdown menu */
.navbar-list .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary-color); /* Adjust as necessary */
  border: 1px solid #333;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px 0;
  width: 200px;
  z-index: 1;
}

.navbar-list .dropdown-menu li {
  padding: 10px;
}

.navbar-list .dropdown-menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* Show the dropdown on hover */
.navbar-list .dropdown:hover .dropdown-menu {
  display: block;
}

/* Optional: Styling on hover over the dropdown items */
.navbar-list .dropdown-menu li a:hover {
  background-color: #444;
}
